* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to right,red,blue);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
            -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
            -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10000;
    background: rgb(2, 2, 2); 
    opacity: 0.6;             
}

.header .logo {
    font-weight: bolder;
    color: #fff;
    font-size: 3rem;
}

.header .logo span {
    color: #f00;
}

.header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: #fff;
}

.header .navbar a:hover {
    background: red;
}

.home {
    padding: 0;
    margin-top: 5rem;
}

.home .slide {
    min-height: 70vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
            -ms-flex-align: center;
    align-items: center;
}

.home .slide .content {
    width: 60rem;
}

.home .slide .content span {
    font-size: 2rem;
    color: red;
    display: block;
}

.home .slide .content h3{
    font-size: 5rem;
    color: rgb(23, 22, 22);
    padding: 1rem 0;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, red 93%, transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.swiper-pagination-bullet{
    height: 2rem;
    width: 2rem;
    background: #fff;
    border-radius: 0;
}
.content{
    display: flex;
    align-items:center ;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.about{
    margin-top: 20px;
    background-color: rgb(15, 13, 13);
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 30px;
    margin: 30px;
}
.about img{
    height:300px;
    width: auto;
    border-radius: 15px;
}
.about h1{
    font-size: 3rem;
    color: #f00;
}
.image{
    padding: 20px;
}







