* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to right,red,blue);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
            -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
            -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 12000;
    background: rgb(2, 2, 2); 
    margin-bottom: 100px;   
             
}

.header .logo {
    font-weight: bolder;
    color: #fff;
    font-size: 3rem;
}

.header .logo span {
    color: #f00;
}

.header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: #fff;
}

.header .navbar a:hover {
    background: linear-gradient(to right,blue,pink);
    color: rgb(206, 251, 4);
}

.home {
    padding: 0;
    
}


.home .slide {
    min-height: 70vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
            -ms-flex-align: center;
    align-items: center;
}

.home .slide .content {
    width: 60rem;
}

.home .slide .content span {
    font-size: 2rem;
    color: red;
    display: block;
}

.home .slide .content h3{
    font-size: 5rem;
    color: rgb(23, 22, 22);
    padding: 1rem 0;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, red 93%, transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.swiper-pagination-bullet{
    height: 2rem;
    width: 2rem;
    background: #fff;
    border-radius: 0;
}

.content{
    display: flex;
    align-items:center ;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.about{
    margin-top: 20px;
    background-color: rgb(15, 13, 13);
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 30px;
    margin: 30px;
}
.about img{
    height:300px;
    width: auto;
    border-radius: 15px;
}
.about h1{
    font-size: 3rem;
    color: #f00;
}
.image{
    padding: 20px;
}
.features{
    margin-top: 20px;
    background-color: rgb(15, 13, 13);
    border-radius: 30px;
    
    
    color: white;
    padding: 30px;
    margin: 30px;
}
.features h1{
    font-size: 3rem;
    color: #f00;
}

.card{   
    box-shadow: 0 4px 8px 0 rgba(151, 145, 145, 0.931);
    transition: 0.3s;
    width: 400px;
    height: 500px;
    padding: 20px;
   margin-left: 30px;

}
.card h2{
    font-size: 5rem;
    color: rgb(14, 236, 11);
}
.card p{
    font-size: 2rem;
    
}
.cards{
    display: flex;
    padding: 20px;
    justify-content: center;
}
.card img{
    width:300px;
    height: 200px;
}
.matter{
    padding:20px;
    text-align: center;
    justify-items: center;
    align-items: center;
}
.card li{
    font-size: 1.5rem;
    color: white;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgb(252, 251, 251);
}
.text{
    text-align: center;
}
.attachment h2{
    font-size: 2rem;
}

.pricing{
    margin-top: 20px;
    background-color: rgb(15, 13, 13);
    border-radius: 30px;
    
    
    color: white;
    padding: 30px;
    margin: 30px;
}
.pricing h1{
    font-size: 4rem;
    color: #f00;
}
.rate{
    align-items: center;
    text-align: center;
    display: flex;
}
.rate h3{
    font-size: 3rem;
}
.rate h4{
    font-size: 1rem;
}
.container{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.container h3{
    font-size: 2rem;
}
.container h4{
    font-size: 1.5rem;
}
.slider{
    width:90%;
    height:500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-top: 50px;
    text-align: center;
}
#img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.slider img{
    width:50%;
    height:100%;
}
.home{
    margin-top: 20px;
    
    border-radius: 30px;
    
    
    color: white;
    padding: 20px;
    margin: 20px;
}
.trainers{
    margin-top: 20px;
    background-color: rgb(15, 13, 13);
    border-radius: 30px;
    
    
    color: white;
    padding: 30px;
    margin: 30px;
}
.trainers{
    margin-top: 20px;
    background-color: rgb(15, 13, 13);
    border-radius: 30px;
    color: white;
    padding: 30px;
    margin: 30px;
}
.trainers h1{
    font-size: 3rem;
    color: #f00;
    
}
.trainers{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.trainers table{
    width: 100%;
    
}
.trainers table,th,td{
    border: 1px solid white;
    font-size: 2rem;
    border-collapse: collapse;
}
.trainers table,th{
    color: rgb(10, 173, 237);
}
.trainers table img{
    width: 250px;
    height: 180px;
    border-radius: 30px;
}
.trainers table th{
    text-align: center;
    padding: 20px;
    margin: 20px;
    align-items: center;
    /* text-align: center; */
}
.tb{
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.blogs{
    margin-top: 20px;
    background-color: rgb(15, 13, 13);
    border-radius: 30px;
    color: white;
    padding: 30px;
    margin: 30px;
    
}
.blogs h1{
    font-size: 3rem;
    color: #f00;
    text-align: center;
}
.blog{
    
    padding: 20px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(234, 131, 131, 0.931);
    margin-bottom: 20px;
}
.blog img{
    width: 150px;
    height: 80px;
    border-radius: 40px;
}
.blog-content{
    padding-left: 20px;
}
.blog-content p{
    font-size: 2rem;
}
.title{
    padding-bottom: 20px;
}
.blog:hover{
    box-shadow: 4px 4px 8px 4px rgba(244, 0, 0, 0.931);
}